<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div style= "padding:5px; padding-bottom:5px;">
<center>
  <h1 class="welcome-header">All posts</h1>
  <hr>
  <p>Read unique stories</p>
  <img src="https://unsplash.it/g/882/115" alt="welcome-photo" />
</center>
</div>
<div class="all-posts" style="padding:10px;">
  {% for post in posts %}
    <h2><a href="/blog/{{ post.key.id() }}">{{ post.subject }}</a></h2> <h4 class="post-by"><u>By</u> : <b>{{ post.creator.username }}</b></h4>
    <h3>Posted on: {{ post.time_created.strftime("%b %d, %Y") }}</h3>
    {% if post.creator.username == user.username %}
    <div class="author-options" style="padding-bottom:2px;">
      <button style="padding:4px; margin-right:8px;">
      <a href="/blog/edit?post={{ post.key.id() }}">Edit</a>
      </button>
      <button style="padding:4px;">
      <a href="/blog/delete?post={{ post.key.id() }}">Delete</a>
      </button>
    </div>
    {% endif %}
    <article>{{ post.content }}</article>
    <br>
    <a href="/blog/{{ post.key.id() }}">Read more</a>

    <br>
  {% endfor %}

</div>

{% endblock %}
